<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">

	<!-- <link href="/static/css/style1.css" rel="stylesheet"> -->
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="{{url_for('login')}}" method="POST">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="kisan_id" placeholder="Kisan ID Number">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="text-center p-t-90">
						<a class="txt1" href="{{url_for('register')}}">
							Register
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>





	
    <!--------------------------------------------- / FOOTER START / -------------------------------------------->
	<!-- <section class="section-footer">
		<div class="container">
		  <div class="row">
			 <div class="col-sm-12 col-md-4">
			  <div class="widget-a">
				<div class="w-header-a">
				  <h3 class="w-title-a text-brand">logo name</h3>
				</div> 
				<div class="w-body-a">
				  <p class="w-text-a color-text-a">
					Enim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat duis
					sed aute irure.
				  </p>
				</div>
				<div class="w-footer-a">
				  <ul class="list-unstyled">
					<li class="color-a">
					  <span class="color-text-a">Phone .</span> contact@example.com</li>
					<li class="color-a">
					  <span class="color-text-a">Email .</span> +54 356 945234</li>
				  </ul>
				</div>
			  </div>
			</div>
			<div class="col-sm-12 col-md-4 section-md-t3">
			  <div class="widget-a"> 
				 <div class="w-header-a">
				  <h3 class="w-title-a text-brand">The Company</h3>
				</div>
	
				<div class="w-body-a">
				  <div class="w-body-a"> 
					<ul class="list-unstyled">
					   <li class="item-list-a">
						<i class="fa fa-angle-right"></i> <a href="#">Site Map</a>
					  </li>
					  <li class="item-list-a">
						<i class="fa fa-angle-right"></i> <a href="#">Legal</a>
					  </li>
					  <li class="item-list-a">
						<i class="fa fa-angle-right"></i> <a href="#">Agent Admin</a>
					  </li>
					  <li class="item-list-a">
						<i class="fa fa-angle-right"></i> <a href="#">Careers</a>
					  </li>
					  <li class="item-list-a">
						<i class="fa fa-angle-right"></i> <a href="#">Affiliate</a>
					  </li>
					  <li class="item-list-a">
						<i class="fa fa-angle-right"></i> <a href="#">Privacy Policy</a>
					  </li> 
					</ul>
				  </div>
				</div>
			  </div>
			</div>
			<div class="col-sm-12 col-md-4 section-md-t3">
			  <div class="widget-a">
				<div class="w-header-a">
				  <h3 class="w-title-a text-brand">International sites</h3>
				</div>
				<div class="w-body-a">
				  <ul class="list-unstyled">
					<li class="item-list-a">
					  <i class="fa fa-angle-right"></i> <a href="#">Venezuela</a>
					</li>
					<li class="item-list-a">
					  <i class="fa fa-angle-right"></i> <a href="#">China</a>
					</li>
					<li class="item-list-a">
					  <i class="fa fa-angle-right"></i> <a href="#">Hong Kong</a>
					</li>
					<li class="item-list-a">
					  <i class="fa fa-angle-right"></i> <a href="#">Argentina</a>
					</li>
					<li class="item-list-a">
					  <i class="fa fa-angle-right"></i> <a href="#">Singapore</a>
					</li>
					<li class="item-list-a">
					  <i class="fa fa-angle-right"></i> <a href="#">Philippines</a>
					</li>
				  </ul>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
	  <footer>
		   <div class="container">
		  <div class="row">
			<div class="col-md-12">
			  <nav class="nav-footer">
				<ul class="list-inline">
				  <li class="list-inline-item">
					<a href="#">Home</a>
				  </li>
				  <li class="list-inline-item">
					<a href="#">About</a>
				  </li>
				  <li class="list-inline-item">
					<a href="#">Property</a>
				  </li>
				  <li class="list-inline-item">
					<a href="#">Blog</a>
				  </li>
				  <li class="list-inline-item">
					<a href="#">Contact</a>
				  </li>
				</ul>
			  </nav>
			  <div class="socials-a">
				<ul class="list-inline">
				  <li class="list-inline-item">
					<a href="#">
					  <i class="fa fa-facebook" aria-hidden="true"></i>
					</a>
				  </li>
				  <li class="list-inline-item">
					<a href="#">
					  <i class="fa fa-twitter" aria-hidden="true"></i>
					</a>
				  </li>
				  <li class="list-inline-item">
					<a href="#">
					  <i class="fa fa-instagram" aria-hidden="true"></i>
					</a>
				  </li>
				  <li class="list-inline-item">
					<a href="#">
					  <i class="fa fa-pinterest-p" aria-hidden="true"></i>
					</a>
				  </li>
				  <li class="list-inline-item">
					<a href="#">
					  <i class="fa fa-dribbble" aria-hidden="true"></i>
					</a>
				  </li>
				</ul>
			  </div>
	
			  
			  <div class="copyright-footer">
				<p class="copyright color-text-a">
				  &copy; Copyright
				  <span class="color-a">Farmer Sewa</span> All Rights Reserved.
				</p>
			  </div>
			  <div class="credits">
				
				Designed by <a href="#"> XZY</a>
			  </div>
			</div>
		  </div>
		</div>
	  </footer> -->
	  <!-- -----------------------------------------------/ Footer End /-------------------------------------- -->
	
	




	
<!--===============================================================================================-->
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/static/js/main_login.js"></script>

</body>
</html>